<div class="p2 w-full">
  <section class="absolute inset-0 flex flex-col min-w-0 overflow-hidden p-4" *ngIf="amortizacionStore.vm() as vm" [appLoading]="vm.ventasParaAmortizarLoading">
    
    <form class="bg-white p-4" [formGroup]="formAmortizaciones" (ngSubmit)="buscar()">
      <div class="flex justify-end mb-4">
        <div class="flex gap-2">
          <button
            class="ml-4"
            mat-flat-button
            [color]="'accent'"
            type="submit"
          >
            <mat-icon [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
            <span class="ml-2 mr-1">Buscar</span>
          </button>
        </div>
      </div>

      <div class="w-full grid items-center grid-cols-5 gap-4">
        <div class="col-span-2 w-full">
          <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
            <mat-label>Cliente</mat-label>
            <input matInput placeholder="Cliente" formControlName="cliente" />
          </mat-form-field>
        </div>

        <div class="col-span-1 w-full">
          <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
            <mat-label>Serie</mat-label>
            <input matInput placeholder="0000000" formControlName="ventaSerie" />
          </mat-form-field> 
        </div>
        <div class="col-span-1 w-full">
          <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
            <mat-label>Correlativo</mat-label>
            <input matInput placeholder="0000000" formControlName="ventaCorrelativo" />
          </mat-form-field>
        </div>

        <div class="col-span-1">
          <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
            <mat-label>Estado venta al crédito</mat-label>
              <mat-select
              formControlName="ventaAmortizada"
              [spellcheck]="false"
            >
              <mat-option
                *ngFor="let estado of estadoVentasAmortizacion"
                [value]="estado.id"
              >
                {{ estado.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <!-- <div class="w-full grid items-center grid-cols-4 gap-4">
        
      </div> -->

    </form>

    <div class="w-full flex flex-col flex-auto overflow-hidden bg-white">
      <ng-container *ngIf="vm.ventasParaAmortizar.length">
        <div class="flex flex-col flex-auto overflow-hidden">
          <div class="flex-grow overflow-x-auto mb-[73px]">
            <div class="py-2 px-4 inline-block min-w-full">
              <div class="overflow-hidden relative">
                <table class="w-full text-left text-gray-500 table-hover">
                  <thead class="text-gray-800 uppercase bg-gray-50 text-sm">
                    <tr>
                      <th class="px-6 py-3" width="15%">Cliente</th>
                      <th class="px-6 py-3" width="15%">F. Venta</th>
                      <th class="px-6 py-3">Descuento</th>
                      <th class="px-6 py-3">Total</th>
                      <th class="px-6 py-3">Amortizado</th>
                      <th class="px-6 py-3">Días de crédito</th>
                      <th class="px-6 py-3">Transcurridos</th>
                      <th class="px-6 py-3">F. Vencimiento</th>
                      <th class="px-6 py-3"></th>
                    </tr>
                  </thead>
                  <tbody class="text-sm">
                    <ng-container *ngFor="let venta of vm.ventasParaAmortizar">
                      <tr class="border-b hover:bg-gray-50">
                        <td class="px-6 py-4 font-medium text-gray-900">
                          {{ venta.cliente_nombres }} {{ venta.cliente_apellidos }}
                        </td>
                        <td class="px-6 py-4">
                          <div>
                            <p class="mb-2">
                              <span class="block font-medium text-gray-900" *ngIf="venta.comprobante_id === COMPROBANTES.BOLETA">BOLETA</span>
                              <span class="block font-medium text-gray-900" *ngIf="venta.comprobante_id === COMPROBANTES.FACTURA">FACTURA</span>
                              {{ venta.venta_serie }} - {{ venta.venta_correlativo }}
                            </p>
                            {{ venta.venta_fechaFormateada}}
                          </div>
                        </td>
                        <td class="px-6 py-4">
                          {{ simboloMoneda }} {{ venta.venta_descuento | currencyFormat }}
                        </td>
                        <td class="px-6 py-4">
                          {{ simboloMoneda }} {{ venta.venta_total | currencyFormat }}
                        </td>
                        <td class="px-6 py-4">
                          {{ simboloMoneda }} {{ venta.total_amortizado | currencyFormat }}
                        </td>
                        <td class="px-6 py-4">
                          {{ venta.diascredito_label }}
                        </td>
                        <td class="px-6 py-4">
                          {{  venta.dias_transcurridos }} días
                        </td>
                        <td class="px-6 py-4">
                          <div *ngIf="!venta.ventacredito_fechapagadaFormateada">
                            {{ venta.ventacredito_fechavencimientoFormateada }} 
                          </div>

                          <div *ngIf="venta.ventacredito_fechapagadaFormateada">
                            <p>
                              {{ venta.ventacredito_fechapagadaFormateada }} 
                              <b class="block font-medium text-gray-900">PAGADO</b>
                            </p>
                          </div>
                        </td>
                        <td>
                          <div class="flex gap-2">
                            <button class="bg-blue-600 text-white m-0 p-1  rounded-full flex items-center" (click)="verVenta(venta)">
                              <mat-icon fontIcon="visibility" class="text-white text-[18px] m-0 p-0"></mat-icon>
                            </button>
  
                            <button class="bg-green-600 text-white m-0 p-1  rounded-full flex items-center" 
                              *ngIf="!venta.ventacredito_pagada"
                              (click)="abrirModalCuotas(venta)">
                              <mat-icon fontIcon="payments" class="text-white text-[18px] m-0 p-0"></mat-icon>
                              Pagar
                            </button>
                          </div>
                        </td>

                      </tr>
                    </ng-container>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator
                  class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                  (page)="changePagination($event)"
                  [ngClass]="{ 'pointer-events-none': vm.ventasParaAmortizarLoading }"
                  [length]="vm.ventasParaAmortizarPagination?.totalRows"
                  [pageIndex]="vm.ventasParaAmortizarPagination?.currentPage - 1"
                  [pageSize]="vm.ventasParaAmortizarToApply?.perPage"
                  [pageSizeOptions]="[10, 25, 100]"
                  [showFirstLastButtons]="true"
                ></mat-paginator>
                
              
      </ng-container>
      <div
        *ngIf="!vm.ventasParaAmortizar.length && !vm.ventasParaAmortizarLoading"
        class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
        >
          No se encontraron registros!
        </div>
      
    </div>
  </section>
</div>