<div class="p2 w-full">
  <section
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-scroll p-4"
    *ngIf="compraStore.vm() as vm"
    [appLoading]="
      vm.createUpdateStateCompraLoading ||
      cargandoCompra ||
      cargandoComprobantes
    "
  >
    <form class="w-fullh-full" [formGroup]="form" (ngSubmit)="guardarCompra()">
      <div *ngIf="vista == 1">
        <div class="bg-white p-8 mb-4">
          <div class="flex justify-end mb-4">
            <button
              class="ml-4"
              mat-flat-button
              [color]="'accent'"
              type="button"
              (click)="continuarAsginarLotes()"
            >
              <!-- <mat-icon fontIcon="save"></mat-icon> -->
              <span class="ml-2 mr-1">Continuar</span>
            </button>
          </div>

          <div class="grid grid-cols-5 gap-4">
            <div class="col-span-1">
              <mat-form-field
                class="mat-no-subscript w-full"
                floatLabel="always"
              >
                <mat-label>Selecciona un proveedor</mat-label>
                <input
                  matInput
                  placeholder="Busca un proveedor"
                  class="w-full"
                  [matAutocomplete]="proveedorAuto"
                  (input)="onInputProveedor($event)"
                  [formControl]="controlProveedor"
                />
                <mat-autocomplete
                  #proveedorAuto="matAutocomplete"
                  (optionSelected)="selectProveedor($event.option.value)"
                  [displayWith]="displayFnProveedor"
                >
                  <mat-option
                    [value]="proveedor"
                    *ngFor="let proveedor of proveedoresList$ | async"
                  >
                    {{ proveedor.proveedor_nombrecomercial }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-span-1">
              <mat-form-field
                class="mat-no-subscript w-full"
                floatLabel="always"
              >
                <mat-label>Fecha</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="compra_fecha"
                  placeholder="DD/MM/YYYY"
                  floatLabel="always"
                />
                <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-span-1">
              <mat-form-field
                class="mat-no-subscript w-full"
                floatLabel="always"
              >
                <mat-label>Comprobante</mat-label>
                <mat-select
                  placeholder="Comprobante"
                  formControlName="comprobante_id"
                  [spellcheck]="false"
                >
                  <mat-option
                    *ngFor="let comprobante of comprobantesList"
                    [value]="comprobante.comprobante_id"
                  >
                    {{ comprobante.comprobante_descripcion }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-span-1">
              <mat-form-field
                class="mat-no-subscript w-full"
                floatLabel="always"
              >
                <mat-label>Serie</mat-label>
                <input
                  matInput
                  formControlName="compra_serie"
                  placeholder="1234"
                  [spellcheck]="false"
                />
              </mat-form-field>
            </div>
            <div class="col-span-1">
              <mat-form-field
                class="mat-no-subscript w-full"
                floatLabel="always"
              >
                <mat-label>Correlativo</mat-label>
                <input
                  matInput
                  formControlName="compra_correlativo"
                  placeholder="12345678"
                  [spellcheck]="false"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="bg-white p-8">
          <div class="mb-1">
            <div class="w-[60%]">
              <mat-form-field
                class="mat-no-subscript w-full"
                floatLabel="always"
              >
                <mat-label>Busa un item para agregar a la compra</mat-label>
                <input
                  matInput
                  placeholder="Busa un item para agregar a la compra"
                  class="w-full"
                  [matAutocomplete]="auto"
                  (input)="onInputProducto($event)"
                  [formControl]="controlProducto"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="selectProducto($event.option.value)"
                >
                  <mat-option
                    [value]="producto"
                    *ngFor="let producto of productosList$ | async"
                  >
                    {{ producto.item_descripcioncompleta }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="flex flex-col flex-auto overflow-hidden">
            <div class="flex-grow overflow-x-auto mb-[73px]">
              <div class="py-2 inline-block min-w-full">
                <div class="over
                low-hidden relative">
                  <table
                    class="w-full text-left text-gray-500 table-hover table-fixed"
                  >
                    <thead class="text-gray-800 uppercase bg-gray-50 text-sm">
                      <tr>
                        <th class="px-6 py-3" width="300px">Item</th>
                        <th class="px-6 py-3" width="100px">Cant.</th>
                        <th class="px-6 py-3" width="auto">Almacén</th>
                        <th class="px-6 py-3" width="auto">V. Unitario</th>
                        <th class="px-6 py-3" width="auto">Descuento</th>
                        <th class="px-6 py-3" width="auto">Subtotal</th>
                        <th class="px-6 py-3" width="auto">Impuestos</th>
                        <th class="px-6 py-3" width="auto">V. Total</th>
                        <th class="px-6 py-3" width="auto"></th>
                      </tr>
                    </thead>
                    <tbody class="text-sm">
                      <ng-container
                        formArrayName="detallecompra"
                        *ngIf="detallecompraArray.controls.length > 0"
                      >
                        <tr
                          *ngFor="
                            let ordencompra of detallecompraArray.controls;
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <td class="px-6 py-4">
                            {{
                              ordencompra.get("detallecompra_descripcion").value
                            }}
                          </td>

                          <td class="px-6 py-4" width="10%">
                            <mat-form-field
                              class="mat-no-subscript w-full"
                              floatLabel="always"
                            >
                              <input
                                matInput
                                placeholder="0.00"
                                formControlName="detallecompra_cantidad"
                                OnlyPositiveInteger
                              />
                            </mat-form-field>
                          </td>
                          <td class="px-6 py-4">
                            <ng-container *ngIf="almacenSeleccionado">
                              {{ almacenSeleccionado.almacen_descripcion }}
                            </ng-container>
                          </td>
                          <td class="px-6 py-4">
                            <ng-container *ngIf="ordencompraId">
                              {{ simboloMoneda }}
                              {{ ordencompra.get("detallecompra_precio").value | currencyFormat }}
                            </ng-container>

                            <ng-container *ngIf="!ordencompraId">
                                <mat-form-field
                                class="mat-no-subscript w-full"
                                floatLabel="always"
                              >
                                <input
                                  matInput
                                  placeholder="0.00"
                                  formControlName="detallecompra_cantidad"
                                  OnlyPositiveDecimal
                                />
                              </mat-form-field>
                            </ng-container>


                          </td>
                          <td class="px-6 py-4">
                            {{ simboloMoneda }}
                            {{
                              ordencompra.get("detallecompra_descuento").value
                                | currencyFormat
                            }}
                          </td>
                          <td class="px-6 py-4">
                            {{ simboloMoneda }}
                            {{
                              ordencompra.get("detallecompra_subtotal").value
                                | currencyFormat
                            }}
                          </td>
                          <td class="px-6 py-4">
                            {{ simboloMoneda }}
                            {{
                              ordencompra.get("detallecompra_impuestos").value
                                | currencyFormat
                            }}
                          </td>
                          <td class="px-6 py-4">
                            {{ simboloMoneda }}
                            {{
                              ordencompra.get("detallecompra_total").value
                                | currencyFormat
                            }}
                          </td>
                          <td>
                            <button
                              mat-icon-button
                              [matMenuTriggerFor]="menu"
                              aria-label="Example icon-button with a menu"
                              type="button"
                            >
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button
                                mat-menu-item
                                (click)="eliminarDetalleOrdencompra(i)"
                              >
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                              </button>
                              <button
                                mat-menu-item
                                (click)="asignarLote(ordencompra)"
                              >
                                <!-- <mat-icon>delete</mat-icon> -->
                                <span>Asignar lote</span>
                              </button>
                            </mat-menu>
                          </td>
                        </tr>
                      </ng-container>

                      <ng-container
                        *ngIf="detallecompraArray.controls.length === 0"
                      >
                        <tr>
                          <td class="px-6 py-4" colspan="9">
                            <div class="flex justify-center items-center">
                              <mat-icon fontIcon="info"></mat-icon>
                              <span class="ml-2"
                                >Aún no has agregado items</span
                              >
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <div class="w-full mt-4" *ngIf="detallecompraArray.controls.length > 0">
                    <div class="w-full grid grid-cols-6">
                      <div class="col-span-3">
                          <mat-form-field class="w-full">
                            <mat-label>Observación</mat-label>
                            <textarea matInput style="height: 80 !important;"
                                      formControlName="compra_observacion"
                                      ></textarea>
                          </mat-form-field>    
                      </div>
    
                    </div>
                  </div>

                  <div class="flex justify-end">
                    <p class="text-xl font-semibold">
                      Total:
                      <span class="font-normal"
                        >{{ simboloMoneda }}
                        {{ totalVenta | currencyFormat }}</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full" *ngIf="vista == 2">
        <div class="w-full px-8 py-2 mb-4">
          <div class="flex justify-end">

            
            <div class="flex gap-4 items-center">
              <button
                mat-flat-button
                type="button"
                (click)="cambiarVista(1)"
              >
              <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="arrow_back_ios"
                    
                  ></mat-icon>
                  Regresar
                </button>

              <button
                mat-flat-button
                [color]="'accent'"
              >
              <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="save"
                    (click)="registrarCompra()"
                  ></mat-icon>
                  Registrar compra
                </button>
            </div>
        </div>
        </div>
        <div class="flex gap-4 w-full" cdkDropListGroup>

          <div class="w-full bg-white p-8">
            <h4 class="text-xl font-bold mb-4">Productos en compra</h4>
            <div
              cdkDropList
            >

            <ng-container *ngFor="let item of productosACanjear"  >
              <div
                class="border border-gray-300 p-2 bg-gray-50 rounded-xl mb-4"
                cdkDrag
                [cdkDragData]="item"
                *ngIf="!item.ocultar"
              >
                <table>
                  <thead class="mb-2">
                    <tr>
                      <td class="font-bold uppercase" width="75%">Item</td>
                      <td class="font-bold uppercase text-right" width="25%">
                        Cant. Disponible
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ item.detallecompra_descripcion }}</td>
                      <td class="text-right">
                        {{ item.detallecompra_cantidad }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            
            </div>
          </div>

          <div class="w-full bg-white p-8">
            <div class="mb-6">
              <button
                mat-flat-button
                [color]="'accent'"
                type="button"
                class="w-full"
                (click)="nuevoLote()"
              >
                <!-- ponle un icono de agrgear -->
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="add"
                ></mat-icon>
                Nuevo Lote
              </button>
            </div>

            <ng-container *ngIf="lotes.length > 0">
              <div
                class="border border-gray-300 p-4 rounded-xl mb-4"
                cdkDropList
                *ngFor="let lote of lotes"
                (cdkDropListDropped)="onDrop($event, lote)"
              >
                <div class="mb-6">
                  <h3 class="text-xl text-blue-950 font-bold mb-1 uppercase">
                    Lote #{{ lote.lote_codigo }}
                  </h3>
                  <div class="flex justify-end">
                    <i>Fec. Venciento {{ lote.lote_fechavencimientoFormateada }} </i>
                  </div>
                </div>
                
                <div *ngIf="lote.productos.length == 0">
                  <div class="text-center flex flex-col justify-center">
                    <mat-icon
                      fontIcon="info"
                      class="block text-center w-full mb-1"
                    ></mat-icon>
                    <span class="text-gray-700"
                      >Aún no tienes items agregados a este lote</span
                    >
                  </div>
                </div>

                <ng-container *ngIf="lote.productos.length > 0">
                  <div *ngFor="let producto of lote.productos">
                    <div class="flex justify-between bg-gray-50 px-4 py-2 border border-gray-300 rounded-xl mb-2">
                      <p>{{ producto?.detallecompra_descripcion }}</p>
                      <i class="font-bold">Cant: {{ producto?.cantidad }}</i>
                    </div>
                  </div>

                </ng-container>
              
              </div>
            </ng-container>

            <div *ngIf="lotes.length == 0" class="w-full mt-10">
              <div class="text-center flex flex-col justify-center">
                <mat-icon
                  fontIcon="info"
                  class="block text-center w-full mb-1"
                ></mat-icon>
                <span class="text-gray-700"
                  >Aún no tienes lotes agregados a esta compra</span
                >
              </div>
            </div>

            </div>
        </div>
      </div>
    </form>
  </section>
</div>
