<section class="w-full relative h-[600px]">
  <div class="flex justify-end mb-6">
    <button (click)="onNoClick()">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>

  <div class="flex justify-start mb-8">
    <button mat-flat-button [color]="'primary'" class="uppercase"
      (click)="nuevoLote()">
    
      Registrar nuevo Lote
    </button>
  </div>

  <div class="border border-gray-300 p-4 bg-gray-50 rounded-xl mb-4" >
    <div class="w-full">
      <div class="flex justify-end">
        <div class="flex gap-8">
          <p class="font-semibold">Fecha de vencimiento: <b class="font-normal text-gray-700">12/12/2021</b></p>
          <p class="font-semibold">Cantidad: <b class="font-normal text-gray-700">100</b> </p>
        </div>
      </div>
      <div class="flex gap-4 items-start">
        <div>
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="w-full">
          <div class="w-full flex justify-between mb-4 pt-[7px]">
            <h3 class="text-lg font-semibold">LOTE 1</h3>
          </div>
          
          <div>
            <div class="flex justify-between gap-2 mb-1">
              <p>
                Paracetamol 500 mg - Tabletas - Laboratorio A
              </p>
              <i class="font-medium">Cant: 50</i>
            </div>
            <div class="flex justify-between gap-2 mb-1">
              <p>
                Paracetamol 500 mg - Tabletas - Laboratorio A
              </p>
              <i class="font-medium">Cant: 50</i>
            </div>
            <div class="flex justify-between gap-2 mb-1">
              <p>
                Paracetamol 500 mg - Tabletas - Laboratorio A
              </p>
              <i class="font-medium">Cant: 50</i>
            </div>
            
          </div>
  
  
        </div>
      </div>

    </div>
  </div>
  <div class="border border-gray-300 p-4 bg-gray-50 rounded-xl mb-4" >
    <div class="w-full">
      <div class="flex justify-end">
        <div class="flex gap-8">
          <p class="font-semibold">Fecha de vencimiento: <b class="font-normal text-gray-700">12/12/2021</b></p>
          <p class="font-semibold">Cantidad: <b class="font-normal text-gray-700">100</b> </p>
        </div>
      </div>
      <div class="flex gap-4 items-start">
        <div>
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="w-full">
          <div class="w-full flex justify-between mb-4 pt-[7px]">
            <h3 class="text-lg font-semibold">LOTE 1</h3>
          </div>
          
          <div>
            <div class="flex justify-between gap-2 mb-1">
              <p>
                Paracetamol 500 mg - Tabletas - Laboratorio A
              </p>
              <i class="font-medium">Cant: 50</i>
            </div>
            <div class="flex justify-between gap-2 mb-1">
              <p>
                Paracetamol 500 mg - Tabletas - Laboratorio A
              </p>
              <i class="font-medium">Cant: 50</i>
            </div>
            <div class="flex justify-between gap-2 mb-1">
              <p>
                Paracetamol 500 mg - Tabletas - Laboratorio A
              </p>
              <i class="font-medium">Cant: 50</i>
            </div>
            
          </div>
  
  
        </div>
      </div>

    </div>
  </div>


</section>
