<ng-container *ngIf="ordencompraStore.vm() as vm">
  <section class="w-full relative h-[600px]" [appLoading]="vm.ordencompraLoadingSelected">
    <ng-container *ngIf="vm.ordencompraSelected">
      <div class="flex flex-col h-full">
        <h4 class="font-semibold text-2xl mb-4">Orden de compra Cód.: {{ vm.ordencompraSelected.ordencompra_id }}</h4>

        <h5 class="mb-2 font-semibold">Registrador por: <span class="font-normal">{{ vm.ordencompraSelected.usuario.usuario_nombres }} {{ vm.ordencompraSelected.usuario.usuario_apellidos }}</span> </h5>
        <div>
          <h5 class="font-semibold">Proveedor:  </h5>
          <p>{{ vm.ordencompraSelected.proveedor.proveedor_nombrecomercial }}</p>
        </div>

        <div class="flex flex-col flex-auto overflow-hidden">
          <div class="flex-grow overflow-x-auto mb-[73px]">
            <div class="py-2 px-4 inline-block min-w-full">
              <div class="overflow-hidden relative">
                <table class="w-full text-left text-gray-500 table-hover table-fixed">
                  <thead class="text-gray-800 uppercase bg-gray-50 text-sm">
                    <tr>
                      <th class="px-6 py-3">Cantidad</th>
                      <th class="px-6 py-3" width="250px">Item.</th>
                      <th class="px-6 py-3">Precio</th>
                      <th class="px-6 py-3">Almacén</th>
                      <th class="px-6 py-3">Importe</th>
                      <th class="px-6 py-3">¿Pendiente canjear?</th>
                    </tr>
                  </thead>
                  <tbody class="text-sm">
                      <ng-container *ngIf="vm.ordencompraSelected.detalleordencompra">
                        <tr *ngFor="let detalleordencompra of vm.ordencompraSelected.detalleordencompra">
                          <td class="px-6 py-4"> {{ detalleordencompra.detalleordencompra_cantidad }}</td>
                          <td class="px-6 py-4"> {{ detalleordencompra.detalleordencompra_descripcioncompleta }}</td>
                          <td class="px-6 py-4"> 
                            <span>
                              {{ simboloMoneda }} {{ detalleordencompra.detalleordencompra_precio | currencyFormat }}
                            </span>
                          </td>
                          <td class="px-6 py-4"> {{ detalleordencompra?.almacen?.almacen_descripcion }}</td>
                          <td class="px-6 py-4"> {{ simboloMoneda }} {{ detalleordencompra.detalleordencompra_importe | currencyFormat }}</td>
                          <td class="px-6 py-4"> 
                            <ng-container>
                              <span *ngIf="detalleordencompra.detalleordencompra_pendientecanjear">SI</span>
                              <span *ngIf="!detalleordencompra.detalleordencompra_pendientecanjear">NO</span>
                            </ng-container>
                          </td>
                        </tr>
                      </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-end">
          <div class="flex gap-4 items-center">
            <span class="font-semibold text-xl">Importe total</span>
            <span class="text-xl">{{ simboloMoneda }} {{ vm.ordencompraSelected.ordencompra_total }}</span>
          </div>
        </div>
      </div>
  </ng-container>
  </section>
</ng-container>
