<section class="w-full relative h-[360px]">
  <div class="flex justify-end mb-1">
    <button (click)="onNoClick()">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="guardarLote()">
    <h3 class="text-2xl font-bold mb-8">Crear nuevo lote</h3>

    <div class="mb-2">
      <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
        <mat-label>Código de lote</mat-label>
        <input matInput placeholder="ABC12" [spellcheck]="false" formControlName="lote_codigo"/>
      </mat-form-field>
    </div>

    <div class="mb-2">
      <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
        <mat-label>Fecha de Vencimiento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="DD/MM/YYYY"
          floatLabel="always"
          formControlName="lote_fechavencimiento"
        />
        <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="flex justify-end mt-4">
      <button
        mat-flat-button
        [color]="'primary'"
        class="uppercase"
        class="w-full"
        type="submit"
      >
        Guardar lote
      </button>
    </div>
  </form>
</section>
