<ng-container>
  <section  class="w-full h-[600px]" [appLoading]="cargandoCuota || pagandoCuota">
    <ng-container *ngIf="cuotaventaObj">
      <form [formGroup]="formPagarCuota" class="h-full flex flex-col" (ngSubmit)="pagarCuota()">
        <div class="flex justify-end mb-2">
          <button (click)="onNoClick()" type="button">
            <mat-icon fontIcon="close"></mat-icon>
          </button>
        </div>
    
        <div class="flex gap-4 grow w-full"> 
          <div class="w-[560px]">
            <div class="flex justify-between mb-4">
              <div>
                <h4 class="text-2xl font-bold" *ngIf="cuotaventaObj.venta.venta_tipo == COMPROBANTES.BOLETA">BOLETA</h4>
                <h4 class="text-2xl font-bold" *ngIf="cuotaventaObj.venta.venta_tipo == COMPROBANTES.FACTURA">FACTURA</h4>
                <p class="text-xl font-semibold">{{ cuotaventaObj.venta.venta_serie }} - {{ cuotaventaObj.venta.venta_correlativo }}</p>
              </div>
    
              <div>
                <p class="font-semibold text-lg">{{ cuotaventaObj.venta.venta_fechaFormateada }}</p>
              </div>
            </div>
    
            <div class="flex gap-2">
              <h4 class="text-xl font-bold">CLIENTE:</h4>
              <p class="text-xl">{{ cuotaventaObj.cliente.cliente_nombres }} {{ cuotaventaObj.cliente.cliente_apellidos }}</p>
            </div>
    
            <div class="flex justify-end">
              <h4 class="">
                <i>Credito a {{ cuotaventaObj.ventaCredito.diasCredito.diascredito_label }}</i>
              </h4>
            </div>

            <div>
              <mat-form-field class="mat-no-subscript w-full">
                <mat-label>Método de pago</mat-label>
                <mat-select
                placeholder="Condición de pago"
                formControlName="amortizacion_pagomodalidad"
                (selectionChange)="changeSelectTipoPago($event)"
                [spellcheck]="false"
              >
                <mat-option
                  *ngFor="let pago of tiposPago"
                  [value]="pago.id"
                >
                  {{ pago.descripcion }}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="amoritzacionPagomodalidad.value == TIPO_PAGO_TRANSFERENCIA"
              class="grid grid-cols-2 gap-4"
            >
              <div class="col-span-1">
                <mat-form-field class="mat-no-subscript w-full">
                  <mat-label>Banco</mat-label>
                  <mat-select
                  placeholder="Condición de pago"
                  formControlName="amortizacion_tipobanco"
                  [spellcheck]="false"
                >
                  <mat-option
                    *ngFor="let banco of BANCOS"
                    [value]="banco.id"
                  >
                    {{ banco.descripcion }}
                  </mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="col-span-1">
                <mat-form-field class="mat-no-subscript w-full">
                  <mat-label>N° de operación</mat-label>
                  <input
                    matInput
                    [spellcheck]="false"
                    formControlName="amortizacion_numerooperacion"
                  />
                </mat-form-field>
              </div>
            </div>
            <div>
              <mat-form-field class="mat-no-subscript w-full">
                <mat-label>Monto</mat-label>
                <input
                  matInput
                  [spellcheck]="false"
                  formControlName="amortizacion_monto"
                />
              </mat-form-field>
            </div>


          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class="w-full">
            <div *ngIf="amoritzacionPagomodalidad.value == TIPO_PAGO_TRANSFERENCIA">
              <h4 class="font-semibold mb-2">Voucher</h4>
              <div class="flex justify-center">
                  <div class="w-full h-56 border border-dashed flex justify-center items-center hover:bg-slate-50 cursor-pointer" (click)="subirImagen()" *ngIf="!voucherImg">
                      <mat-icon [svgIcon]="'heroicons_outline:camera'" class="text-gray-400"></mat-icon>
                  </div>
                 

                  <div class="w-full h-[400px] border border-dashed flex justify-center items-center cursor-pointer hover:opacity-90" (click)="subirImagen()" *ngIf="voucherImg">
                      <img [src]="voucherImg" alt="" class="w-full h-full object-contain">
                  </div>
                  <!-- <div class="w-full h-[400px] border border-dashed flex justify-center items-center cursor-pointer hover:opacity-90" (click)="subirImagen()" *ngIf="true">
                      <img src="http://localhost/dipafarapi/storage/App/imagenes/vouchers/319045d0a522d31a74bf6e2666ffa604.jpeg" alt="" class="w-full h-full object-contain">
                  </div> -->
  
              </div>

              <!-- Muestra el mensaje cuando el campo sea requerido -->
              <p class="text-red-700 font-semibold text-sm mt-1" *ngIf="this.formPagarCuota.get('amortizacion_voucher')?.hasError('required') && this.formPagarCuota.get('amortizacion_voucher')?.touched"> 
                <i>El voucher es requerido</i>
              </p>

  
              <input type="file" name="file" id="file" #file hidden (change)="onFileSelected($event)">
  
          </div>
    
          </div>


          
        </div>
    
        <div>
          <div class="mb-2">
            <div class="flex justify-between items-center">
              <p class="text-2xl font-bold text-red-500 uppercase">Saldo</p>
              <span class="text-2xl">{{ simboloMoneda }}  {{ cuotaventaObj.venta.venta_total }}</span>
            </div>
      
            <div class="flex justify-between items-center uppercase">
              <p class="text-2xl font-bold">Amortizado</p>
              <!-- <span class="text-2xl">{{ simboloMoneda }} {{ cuotaventaObj.ventaCredito.ventacredito_montopagado }}</span> -->
              <span class="text-2xl">{{ simboloMoneda }} {{ cuotaventaObj.totalAmoritzado | currencyFormat }}</span>
            </div>
      
          </div>
          <div>
            <button 
              mat-flat-button [color]="'primary'" class="w-full"
              type="submit"
            >
              Pagar {{ simboloMoneda }} {{ montoCuota | currencyFormat}}
            </button>
          </div>
        </div>
      </form>
    </ng-container>
  </section>  
</ng-container>
