<div class="p-2 w-full">
  <section class="absolute inset-0 flex flex-col min-w-0 overflow-hidden p-4" *ngIf="pedidoStore.vm() as vm" [appLoading]="vm.pedidoLoading">
    <form [formGroup]="formSearchPedido" (ngSubmit)="buscar()" class="bg-white p-4">
      <div class="flex justify-end mb-4">
        <div class="flex gap-2">
          <button
            class="ml-4"
            mat-flat-button
            [color]="'accent'"
            type="submit"
          >
            <mat-icon [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
            <span class="ml-2 mr-1">Buscar</span>
          </button>
          <a
            class="ml-4 flex gap-2 items-center"
            mat-flat-button
            [color]="'accent'"
            routerLink="/caja/pedido/nuevopedido"
          >
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">Nuevo Pedido</span>
          </a>
        </div>
      </div>
  
      <div class="w-full grid items-center grid-cols-4 gap-4">
        <div class="col-span-2 w-full">
          <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
            <mat-label>Cliente</mat-label>
            <input matInput placeholder="Cliente" formControlName="cliente" />
          </mat-form-field>
        </div>
        <div class="col-span-1 w-full">
          <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
            <mat-label>Codigo pedido</mat-label>
            <input matInput placeholder="0000000" formControlName="pedidoCodigo" />
          </mat-form-field>
        </div>
        <div class="col-span-1 w-full">
          <!-- <div class="flex gap-2 items-center">
            <mat-label>¿Despachados?</mat-label>
            <mat-checkbox formControlName="pedidoPendiente"></mat-checkbox>
          </div> -->
          <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
            <mat-label>Estado Pedido</mat-label>
              <mat-select
              formControlName="pedidoPendiente"
              [spellcheck]="false"
            >
              <mat-option
                *ngFor="let estadoPedido of estadoPendientePedidos"
                [value]="estadoPedido.id"
              >
                {{ estadoPedido.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form> 
  
    <div class="w-full flex flex-col flex-auto overflow-hidden bg-white">
      <ng-container *ngIf="vm.pedidoData.length">
        <div class="flex flex-col flex-auto overflow-hidden">
          <div class="flex-grow overflow-x-auto mb-[73px]">
            <div class="py-2 px-4 inline-block min-w-full">
              <div class="overflow-hidden relative">
                <!-- <table class="min-w-full"> -->
                <table class="w-full text-left text-gray-500 table-hover">
                  <thead class="text-gray-800 uppercase bg-gray-50">
                    <tr>
                      <th class="px-6 py-3">Cliente</th>
                      <th class="px-6 py-3">Fecha</th>
                      <th class="px-6 py-3">Código</th>
                      <th class="px-6 py-3">Total</th>
                      <th class="px-6 py-3">¿Pendiente?</th>
                      <th class="px-6 py-3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let pedido of vm.pedidoData">
                      <tr class="border-b hover:bg-gray-50">
                        <td class="px-6 py-4 font-medium text-gray-900">
                          {{ pedido.cliente_nombres }} {{ pedido.cliente_apellidos }}
                        </td>
                        <td class="px-6 py-4">
                          {{ pedido.pedido_fecha }}
                        </td>
                        <td class="px-6 py-4">
                          #{{ " "}} {{ pedido.pedido_codigo }}
                        </td>
                        <td class="px-6 py-4">
                          {{ simboloMoneda }} {{ pedido.pedido_total | currencyFormat }}
                        </td>
                        <td class="px-6 py-4">
                          <ng-container *ngIf="pedido.pedido_pendiente">
                            <span>SI</span>
                          </ng-container>

                          <ng-container *ngIf="!pedido.pedido_pendiente">
                            <span>NO</span>
                          </ng-container>
                        </td>
                        <td class="px-6 py-4">
                          <button class="bg-blue-600 text-white m-0 p-1  rounded-full flex items-center" (click)="verPedido(pedido)">
                            <mat-icon fontIcon="visibility" class="text-white text-[18px] m-0 p-0"></mat-icon>
                          </button>
                        </td>
                     </tr>
                    </ng-container>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  
          <mat-paginator
            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
            (page)="changePagination($event)"
            [ngClass]="{ 'pointer-events-none': vm.ventaLoading }"
            [length]="vm.pedidoPagination?.totalRows"
            [pageIndex]="vm.pedidoPagination?.currentPage - 1"
            [pageSize]="vm.pedidoPagination?.perPage"
            [pageSizeOptions]="[10, 25, 100]"
            [showFirstLastButtons]="true"
          ></mat-paginator>
        </div>
      </ng-container>
  
      <div
        *ngIf="!vm.pedidoData.length && !vm.pedidoLoading"
        class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
      >
        No se encontraron registros!
      </div>
    
    </div>
  </section>
</div>