<div class="p-4 w-full h-full flex flex-col" [appLoading]="generandoPedido || cargandoComprobantes || cargandoDiasCreditoList">
  
  <div class="p-8 bg-white flex-grow flex flex-col mb-6">

    <div class="px-2 py-4 bg-green-100 border border-green-300 rounded-lg animate__animated animate__fadeIn" *ngIf="mostrarConfirmacionPedido">
      <div class="flex justify-between items-center">
        <div class="flex gap-2">
          <mat-icon fontIcon="check_circle" class="text-green-600"></mat-icon>
            <p class="text-green-600 font-semibold text-lg">Tu pedido ha sido generado con éxito con el codigo 
            <b class="font-black">
              #{{ codigoPedido }}
            </b>  
        </p>
        </div>

        <button class=" text-green-600 px-4 py-2 rounded-md" (click)="closePedidoConfirmacion()">
          <mat-icon fontIcon="close"></mat-icon>
        </button>

      </div>
    </div>


    <form class="h-full flex flex-col mt-8" [formGroup]="formPedido" (ngSubmit)="realizarPedido()">
      <!-- <header class="mb-10">
        <h1 class="text-2xl font-extrabold tracking-tight leading-none">
          Nuevo pedido
        </h1>
      </header> -->
      <div class="flex gap-4 grow">
        <div class="w-[500px]">          
          <div class="">
            <mat-form-field class="mat-no-subscript w-full">
              <mat-label>Condición de pago</mat-label>
              <mat-select
              placeholder="Condición de pago"
              formControlName="pedido_tipo"
              [spellcheck]="false"
              (selectionChange)="changeCondicionPago($event)"
            >
              <mat-option
                *ngFor="let condicionpago of condicionesPagoList"
                [value]="condicionpago.id"
              >
                {{ condicionpago.descripcion }}
              </mat-option>
            </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="formPedido.get('pedido_tipo').value === condicionPagoCredito">
            <div class="col-span-1">
              <mat-form-field class="w-full">
                <mat-label>Días de crédito</mat-label>
                <mat-select formControlName="diascredito_id"
                  (selectionChange)="changeDiasCredito($event)"
                >
                  <mat-option
                    [value]="diascredito.diascredito_id"
                    *ngFor="let diascredito of diasCreditoList"
                    [value]="diascredito.diascredito_id"
                  >
                    {{ diascredito.diascredito_label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="mb-2">
              <mat-form-field class="mat-no-subscript w-full">
                <mat-label>Fecha de Vencimiento</mat-label>
                <!-- <input matInput [matDatepicker]="picker" formControlName="pedido_creditofechavecimiento" disabled>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> -->
                <input
                    matInput
                    [matDatepicker]="dp"
                    placeholder="Fecha de vencimiento"
                    formControlName="pedido_creditofechavecimiento"
                    disabled
                >
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="mb-2">
            <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
              <mat-label>Número teléfono</mat-label>
              <input
                matInput
                formControlName="pedido_clientenumero"
                placeholder="999999999"
                [spellcheck]="false"
              />
            </mat-form-field> 
          </div>

          <div>
            <mat-form-field class="mat-no-subscript w-full">
              <mat-label>Observaciones</mat-label>
              <textarea matInput
                        formControlName="pedido_observacion"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
        </div>
        
        <mat-divider [vertical]="true"></mat-divider>

        <div class="w-full">
          <div class="mb-4">
            <h3 class="mb-3 font-semibold text-sm">TIPO DOCUMENTO</h3>
            <div>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [hideSingleSelectionIndicator]="false" class="w-full" formControlName="comprobante_id" [spellcheck]="false">
                <mat-button-toggle [value]="comprobante.comprobante_id" class="w-full" *ngFor="let comprobante of comprobantesList | async">
                  {{ comprobante.comprobante_descripcion }}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
    
          <div class="flex-grow overflow-auto mb-4">
            <div class="w-full grid grid-cols-6 gap-4">
              <div class="col-span-4">
                <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
                  <mat-label>Busca un cliente</mat-label>
                  <input 
                    matInput 
                    placeholder="Busca un cliente" 
                    class="w-full" 
                    [matAutocomplete]="clienteAuto"
                    (input)="onInputCliente($event)"
                    [formControl]="controlCliente"
                  />
                  <mat-autocomplete #clienteAuto="matAutocomplete"
                    (optionSelected)="selectCliente($event.option.value)"  
                    [displayWith]="displayFnCliente">
                    <mat-option [value]="cliente" *ngFor="let cliente of clientesList | async">
                      {{ cliente.cliente_nombres }} {{ cliente.cliente_apellidos }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-span-2">
                <mat-form-field class="mat-no-subscript w-full" floatLabel="always" *ngIf="!otraDireccion.value">
                  <mat-label>Direccion</mat-label>
                  <!-- <input matInput placeholder="Cliente" class="w-full" /> -->
                    <mat-select
                    placeholder="Piura"
                    formControlName="pedido_clientedireccion"
                    [spellcheck]="false"
                    (selectionChange)="changeDireccionCliente($event)"
                  >
                    <mat-option
                      *ngFor="let direccionciente of clienteSeleccionado?.direcciones"
                      [value]="direccionciente.direccioncliente_direccion"
                      
                    >
                      {{ direccionciente.direccioncliente_direccion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div *ngIf="otraDireccion.value"> 
                  <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
                    <mat-label>Direccion</mat-label>
                    <input
                      matInput
                      formControlName="pedido_clientedireccion"
                      placeholder="Ingresa otra direccion"
                      [spellcheck]="false"
                    />
                  </mat-form-field> 
                </div>

                <mat-checkbox class="-mt-4" *ngIf="clienteSeleccionado" formControlName="otraDireccion" (change)="changeOtraDireccion()">
                  Otra dirección
                </mat-checkbox>
              </div>
              <!-- <div class="col-span-2">
                <mat-form-field class="mat-no-subscript w-full">
                  <mat-label>Condición de pago</mat-label>
                  <mat-select
                  placeholder="Condición de pago"
                  formControlName="condicion_pago"
                  [spellcheck]="false"
                >
                  <mat-option
                    *ngFor="let condicionpago of condicionesPagoList"
                    [value]="condicionpago.id"
                  >
                    {{ condicionpago.descripcion }}
                  </mat-option>
                </mat-select>
                </mat-form-field>
              </div> -->
    
            </div>
    
            <div class="w-full flex items-center gap-4 mt-4">
              <mat-form-field class="mat-no-subscript w-[60%]" floatLabel="always">
                <mat-label>Agrega un item</mat-label>
                <input 
                  matInput 
                  placeholder="Busca un item" 
                  [matAutocomplete]="auto"
                  (input)="onInputProducto($event)"
                  formControlName="controlProducto"
                />
                <mat-autocomplete #auto="matAutocomplete"
                  (optionSelected)="selectProducto($event.option.value)"  
                  [displayWith]="displayFnProducto">
                  <mat-option [value]="producto" *ngFor="let producto of productosList | async">
                    {{ producto.presentacionproducto_nombre }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="mat-no-subscript w-[25%]" floatLabel="always">
                <mat-label>Cantidad</mat-label>
                <input matInput placeholder="0.00" formControlName="controlCantidad" OnlyPositiveInteger />
              </mat-form-field>
              <button type="button" class="w-[15%]" mat-flat-button color="primary" [disabled]="!controlCantidad.value" (click)="agregarProducto()">
                Agregar
              </button>
            </div>
    
            <!-- Tabla de productos añadidos (responsive) -->
            <div class="w-full flex-grow overflow-auto mt-4">
              <table class="w-full text-left text-gray-500">
                <thead class="text-gray-700 uppercase bg-gray-50">
                  <tr>
                    <th class="px-6 py-3" width="40%">Descripción</th>
                    <th class="px-6 py-3 hidden sm:table-cell">Precio</th>
                    <th class="px-6 py-3" width="10%">Cantidad</th>
                    <th class="px-6 py-3 hidden sm:table-cell">Importe</th>
                    <th class="px-6 py-3">
    
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container formArrayName="detallepedido" *ngIf="detallepedido.controls.length > 0">
                    <tr *ngFor="let pedido of detallepedido.controls; let i = index" [formGroupName]="i">
                      <td class="px-6 py-4 flex-1 md:w-auto">{{ pedido.get("detallepedido_descripcion").value }}</td>
                      <td class="px-6 py-4 hidden sm:table-cell">{{ simboloMoneda }} {{ pedido.get("producto").value.presentacionproducto_precio | currencyFormat }}</td>
                      <td class="px-6 py-4 flex-1 md:w-auto">
                        <mat-form-field class="mat-no-subscript w-full">
                          <input matInput formControlName="detallepedido_cantidad" OnlyPositiveInteger />
                        </mat-form-field>
                      </td>
                      <td class="px-6 py-4 hidden sm:table-cell">{{ simboloMoneda }} {{ pedido.get("detallepedido_importe").value | currencyFormat }}</td>
                      <td class="px-6 py-4 text-right flex-1 md:w-auto">
                        <button mat-button color="warn" (click)="eliminarPedido(i)">
                          <mat-icon fontIcon="delete"></mat-icon>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="!detallepedido.controls.length">
                    <tr>
                      <td colspan="5" class="text-center py-4">Aún no has agregado items</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      

      <!-- Footer fijo al final -->
      <div class="border-t pt-4">
        <div class="flex justify-between">
          <div class="flex gap-2">
            <p class="font-semibold text-3xl">
              Total
              <span>{{ simboloMoneda }} {{ totalImporte | currencyFormat }}</span>
            </p>
          </div>
          <div>
            <button mat-flat-button color="primary" type="submir">
              Guardar pedido
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
