<div class="flex flex-col w-full" *ngIf="clienteStore.vm() as vm">
  <ng-container *ngIf="!editMode">
    <div
      class="relative w-full h-22 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700"
    >
      <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
        <div class="text-4xl font-bold truncate">
          {{ vm.clienteSelected?.cliente_nombres }}
          <ng-container *ngIf="vm.clienteSelected?.cliente_apellidos">
            {{ vm.clienteSelected?.cliente_apellidos }}
          </ng-container>
        </div>
        <div class="flex items-center ml-auto mb-1">
          <button mat-stroked-button (click)="toggleEditMode(true)">
            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
            <span class="ml-2">Editar</span>
          </button>
        </div>
        <button mat-icon-button [matTooltip]="'Cerrar'" [routerLink]="['../']">
          <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
      </div>
    </div>
    <!-- Company -->
    <div
      class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0"
    >
      <div class="w-full max-w-3xl">
        <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
          <div
            class="flex sm:items-center"
            *ngIf="vm.clienteSelected?.cliente_nombres"
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Nombres:</span>
              {{ vm.clienteSelected?.cliente_nombres }}
              <ng-container *ngIf="vm.clienteSelected?.cliente_apellidos">
                {{ vm.clienteSelected?.cliente_apellidos }}
              </ng-container>
            </div>
          </div>

          <div
            class="flex sm:items-center"
            *ngIf="
              vm.clienteSelected?.tipodocumento &&
              vm.clienteSelected?.tipodocumento.tipodocumento_descripcion
            "
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Tipo documento:</span>
              {{ vm.clienteSelected?.tipodocumento.tipodocumento_descripcion }}
            </div>
          </div>

          <div
            class="flex sm:items-center"
            *ngIf="vm.clienteSelected?.cliente_documento"
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Numero:</span>
              {{ vm.clienteSelected?.cliente_documento }}
            </div>
          </div>

          <div
            class="flex sm:items-center"
            *ngIf="vm.clienteSelected?.proveedor_diascredito"
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Días de crédito:</span>
              {{ vm.clienteSelected?.proveedor_diascredito }}
            </div>
          </div>
          <div
            class="flex sm:items-center"
            *ngIf="vm.clienteSelected?.cliente_correo"
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Correo:</span>
              {{ vm.clienteSelected?.cliente_correo }}
            </div>
          </div>
          <div
            class="flex sm:items-center"
            *ngIf="vm.clienteSelected?.cliente_telefono"
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Telefono:</span>
              {{ vm.clienteSelected?.cliente_telefono }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="editMode">
    <div
      class="relative w-full h-22 px-8 sm:px-12 bftig-accent-100 dark:bg-accent-700"
    >
      <div
        class="flex items-center justify-between w-full max-w-3xl mx-auto pt-6"
      >
        <div class="text-4xl font-bold truncate">
          {{ vm.clienteSelected?.cliente_nombre }}
        </div>
        <button mat-icon-button [matTooltip]="'Cerrar'" [routerLink]="['../']">
          <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
      </div>
    </div>

    <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
      <div class="w-full max-w-3xl">
        <form [formGroup]="clienteForm">
          <mat-tab-group>
            <mat-tab label="Datos del cliente">
              <div>
                <div class="grid grid-cols-2 gap-4">
                  <div class="col-span-2">
                    <div class="grid grid-cols-3 gap-3">
                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Nombres</mat-label>
                          <input
                            matInput
                            formControlName="cliente_nombres"
                            placeholder="Nombres"
                            [spellcheck]="false"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Apellidos</mat-label>
                          <input
                            matInput
                            formControlName="cliente_apellidos"
                            placeholder="Apellidos"
                            [spellcheck]="false"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Teléfono</mat-label>
                          <input
                            matInput
                            formControlName="cliente_telefonoprincipal"
                            placeholder="Teléfono"
                            [spellcheck]="false"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  

                  <!-- Segundo tile ocupa 1 columna -->
                  <div class="col-span-1">
                    <mat-form-field class="mat-no-subscript w-full">
                      <mat-label>Tipo documento</mat-label>
                      <mat-select
                        placeholder="Tipo documento"
                        formControlName="tipodocumento_id"
                        [spellcheck]="false"
                      >
                        <mat-option
                          *ngFor="let tipodocumento of vm.tiposdocumentosData"
                          [value]="tipodocumento.tipodocumento_id"
                        >
                          {{ tipodocumento.tipodocumento_descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <!-- Tercer tile ocupa 1 columna -->
                  <div class="col-span-1">
                    <mat-form-field
                      class="mat-no-subscript w-full"
                      placeholder="Numero"
                    >
                      <mat-label>Número</mat-label>
                      <input
                        matInput
                        formControlName="cliente_documento"
                        placeholder="Numero"
                        [spellcheck]="false"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-span-2">
                    <mat-form-field
                      class="mat-no-subscript w-full"
                      placeholder="Numero"
                    >
                      <mat-label>Correo</mat-label>
                      <input
                        matInput
                        formControlName="cliente_correo"
                        placeholder="Correo"
                        [spellcheck]="false"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-span-3">
                    <div class="grid grid-cols-2 gap-4">
                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Nombre comercial</mat-label>
                          <input
                            matInput
                            placeholder="Nombre comercial"
                            formControlName="cliente_nombrecomercial"
                            [spellcheck]="false"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Vendedor</mat-label>
                          <input type="text" matInput formControlName="busquedaVendedor" (input)="onSearchVendedor($event.target.value)"  [matAutocomplete]="auto" [displayWith]="displayFn">
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectVendedor($event.option.value)">
                            @for (vendedor of filteredOptionsVendedores | async; track venededor) {
                              <mat-option [value]="vendedor">{{ vendedor.usuario_nombres }} {{ vendedor.usuario_apellidos }}</mat-option>
                            }
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>

                    </div>
                  </div>

                  

                  <div class="col-span-3">
                    <div class="grid grid-cols-2 gap-4">
                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Días de crédito</mat-label>
                          <mat-select
                              formControlName="cliente_diascredito"
                            >
                              <mat-option
                                *ngFor="let diasCredito of diasCreditoCliente"
                                [value]="diasCredito"
                              >
                                {{ diasCredito }}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Linea de crédito</mat-label>
                          <input
                            matInput
                            placeholder="Linea de crédito"
                            formControlName="cliente_lineacredito"
                            [spellcheck]="false"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>


                </div>

                

                <div *ngIf="vm.clienteSelected?.cliente_id > 0">
                  <div class="flex flex-col">
                    <span class="font-semibold mb-2">Estado</span>
                    <mat-slide-toggle
                      formControlName="cliente_activo"
                      [color]="'primary'"
                    >
                      {{
                        clienteForm.get("cliente_activo").value
                          ? "Activa"
                          : "Inactiva"
                      }}
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Dirección">
              <div formArrayName="direcciones" class="mb-4">
                <div
                  *ngFor="let direccion of direcciones.controls; let i = index"
                  [formGroupName]="i"
                  class="mb-5"
                >
                  <div
                    *ngIf="i !== 0"
                    class="flex justify-between items-center mb-4"
                  >
                    <b> Dirección secundaria #{{ i + 1 }}</b>

                    <button
                      (click)="removeDireccion(i)"
                      mat-flat-button
                      [color]="'warn'"
                    >
                      Eliminar dirección
                    </button>
                  </div>
                  <div class="grid grid-cols-3 gap-4">
                    <!-- <div class="col-span-1">
                      <mat-form-field class="mat-no-subscript w-full">
                        <mat-label>Pais</mat-label>
                        <mat-select
                          formControlName="pais_id"
                          (selectionChange)="onPaisChange(i)"
                        >
                          <mat-option
                            *ngFor="let pais of getPaisesData(i)"
                            [value]="pais.pais_id"
                          >
                            {{ pais.pais_nombre }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div> -->

                    <div class="col-span-1">
                      <mat-form-field class="mat-no-subscript w-full">
                        <mat-label>Departamento</mat-label>
                        <mat-select
                          formControlName="departamento_id"
                          (selectionChange)="onDepartamentoChange(i)"
                        >
                          <mat-option
                            *ngFor="let departamento of getDepartamentosData(i)"
                            [value]="departamento.departamento_id"
                          >
                            {{ departamento.departamento_descripcion }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-span-1">
                      <mat-form-field class="mat-no-subscript w-full">
                        <mat-label>Provincia</mat-label>
                        <mat-select
                          formControlName="provincia_id"
                          (selectionChange)="onProvinciaChange(i)"
                        >
                          <mat-option
                            *ngFor="let provincia of getProvinciasData(i)"
                            [value]="provincia.provincia_id"
                          >
                            {{ provincia.provincia_descripcion }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-span-1">
                      <mat-form-field class="mat-no-subscript w-full">
                        <mat-label>Distrito</mat-label>
                        <mat-select formControlName="distrito_id">
                          <mat-option
                            *ngFor="let distrito of getDistritosData(i)"
                            [value]="distrito.distrito_id"
                          >
                            {{ distrito.distrito_descripcion }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-span-4">
                      <mat-form-field class="mat-no-subscript w-full">
                        <mat-label>Dirección</mat-label>
                        <input
                          matInput
                          formControlName="direccioncliente_direccion"
                          placeholder="Dirección"
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-span-4">
                      <mat-form-field class="mat-no-subscript w-full">
                        <mat-label>Teléfono</mat-label>
                        <input
                          matInput
                          formControlName="direccioncliente_telefono"
                          placeholder="Teléfono"
                        />
                      </mat-form-field>
                    </div>

                    <!-- <div class="col-span-2">
                      <mat-form-field class="mat-no-subscript w-full">
                        <mat-label>Correo electrónico</mat-label>
                        <input
                          matInput
                          formControlName="direccioncliente_correo"
                          placeholder="Correo"
                        />
                      </mat-form-field>
                    </div> -->
                  </div>
                </div>
              </div>

              <button
                (click)="addDireccion()"
                class="ml-2 w-full"
                mat-flat-button
                [color]="'primary'"
              >
                Agregar otra dirección
              </button>
            </mat-tab>

            <mat-tab label="Otros Datos">
              <div class="mb-8 text-2xl">
                <h3>Contacto</h3>
              </div>
              <div class="grid grid-cols-4 gap-4">
                <div class="col-span-2">
                  <mat-form-field class="mat-no-subscript w-full">
                    <mat-label>Nombre y apellidos</mat-label>
                    <input matInput placeholder="Nombre y apellidos" formControlName="cliente_contactonombres"/>
                  </mat-form-field>
                </div>
                <div class="col-span-2">
                  <mat-form-field class="mat-no-subscript w-full">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Nombre y apellidos" formControlName="cliente_contacotelefono"/>
                  </mat-form-field>
                </div>

                <div class="col-span-2">
                  <mat-form-field class="mat-no-subscript w-full">
                    <mat-label>Sitio Web</mat-label>
                    <input matInput placeholder="Sitio web" formControlName="cliente_contactoweb" />
                  </mat-form-field>
                </div>

                <div class="col-span-2">
                  <mat-form-field class="mat-no-subscript w-full">
                    <mat-label>Observaciones</mat-label>
                    <input matInput placeholder="Observaciones" formControlName="cliente_contactoobservaciones"/>
                  </mat-form-field>
                </div>
                <div class="col-span-2">
                  <mat-form-field class="mat-no-subscript w-full">
                    <mat-label>Vendedor</mat-label>
                    <mat-select formControlName="vendedor_id">
                      <mat-option
                        *ngFor="let vendedor of vm.vendedoresData"
                        [value]="vendedor.vendedor_id"
                      >
                        {{ vendedor.vendedor_nombres }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-span-2">
                  <mat-form-field class="mat-no-subscript w-full">
                    <mat-label>Zona</mat-label>
                    <mat-select formControlName="zona_id">
                      <mat-option
                        *ngFor="let zona of vm.zonasData"
                        [value]="zona.zona_id"
                      >
                        {{ zona.zona_descripcion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

          <!-- <div class="mt-8">
                        <mat-form-field class="mat-no-subscript w-full">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="transportista_nombre" placeholder="Nombre" [spellcheck]="false">
                        </mat-form-field>
                        <mat-form-field class="mat-no-subscript w-full">
                            <mat-label>Tipo documento</mat-label>
                            <mat-select placeholder="Tipo documento" formControlName="tipodocumento_id" [spellcheck]="false">
                                <mat-option *ngFor="let tipodocumento of vm.tiposdocumentosData" [value]="tipodocumento.tipodocumento_id">
                                  {{ tipodocumento.tipodocumento_descripcion }}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mat-no-subscript w-full">
                            <mat-label>Número</mat-label>
                            <input matInput formControlName="transportista_numero" placeholder="Número" [spellcheck]="false">
                        </mat-form-field>

                        <mat-form-field class="mat-no-subscript w-full">
                            <mat-label>Dirección Fiscal</mat-label>
                            <input matInput formControlName="transportista_direccionfiscal" placeholder="Dirección fiscal" [spellcheck]="false">
                        </mat-form-field>
                    </div> -->

          <div
            class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
          >
            <div
              class="ml-auto"
              *ngIf="clienteForm.get('cliente_id').value <= 0"
            ></div>
            <button
              class="ml-auto"
              mat-button
              [matTooltip]="'Cancel'"
              (click)="toggleEditMode(false)"
              *ngIf="clienteForm.get('cliente_id').value > 0"
            >
              Cancelar
            </button>
            <!--<app-flash-message *ngIf="vm.createUpdateTipoDocumentoFlashMessage"
                                        [hasError]="vm.createUpdateTipoDocumentoError"
                                        [message]="vm.createUpdateTipoDocumentoFlashMessage"></app-flash-message>-->
            <button
              class="ml-2"
              mat-flat-button
              [color]="'primary'"
              [disabled]="clienteForm.invalid || vm.createUpdateStateClienteLoading"
              [matTooltip]="'Guardar'"
              (click)="createUpdateSelected()"
              [loadingButton]="vm.createUpdateStateClienteLoading"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</div>
