<ng-container *ngIf="ventaStore.vm() as vm">
  <section class="w-full relative h-[600px]" [appLoading]="vm.ventaLoadingSelected || vm.createUpdateStateVentaLoading">
    <ng-container *ngIf="vm.ventaSelected">
      <div class="flex flex-col h-full">

        <div class="flex justify-end mb-2">
          <button (click)="onNoClick()">
            <mat-icon fontIcon="close"></mat-icon>
          </button>
        </div>

        <div class="mb-2" *ngIf="!vm.ventaSelected.venta_activo">
          <h3 class="text-xl text-red-500">Venta anulada</h3>
        </div>

        <div class="mb-2">
          <h3 class="font-bold text-2xl">
            <span *ngIf="vm.ventaSelected.comprobante_id === COMPROBANTES.BOLETA">BOLETA:</span>
            <span *ngIf="vm.ventaSelected.comprobante_id === COMPROBANTES.FACTURA">FACTURA:</span>
            <span>{{ vm.ventaSelected.venta_serie }} - {{ vm.ventaSelected.venta_correlativo }}</span>
          </h3>
        </div>

        <div class="mb-4">
          <div class="flex gap-2 items-center">
            <h3 class="font-bold text-xl">CLIENTE:</h3>
            <span class="text-gray-700 text-xl">{{ vm.ventaSelected.cliente.cliente_nombres }} {{ vm.ventaSelected.cliente.cliente_apellidos }}</span>
          </div>
        </div>

        <!-- Contenedor para la tabla que permite el scroll -->
        <div class="flex-grow overflow-auto">
          <table class="min-w-full py-4 px-6">
            <thead class="py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
              <tr>
                <th class="font-bold px-6 py-4 text-left">Cant.</th>
                <th class="font-bold px-6 py-4 text-left">Producto</th>
                <th class="font-bold px-6 py-4 text-left">Precio Unitario</th>
                <th class="font-bold px-6 py-4 text-left">Desc.</th>
                <th class="font-bold px-6 py-4 text-left">Total</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let detalleventa of vm.ventaSelected.detalleventa">
                <tr class="border-b">
                  <td class="px-6 py-4">{{ detalleventa.detalleventa_cantidad | currencyFormat }}</td>
                  <td class="px-6 py-4">{{ detalleventa.detalleventa_descripcion }}</td>
                  <td class="px-6 py-4">{{ simboloMoneda }} {{ detalleventa.detalleventa_precio | currencyFormat }}</td>
                  <td class="px-6 py-4">{{ simboloMoneda }} {{ detalleventa.detalleventa_descuento | currencyFormat }}</td>
                  <td class="px-6 py-4">{{ simboloMoneda }} {{ detalleventa.detalleventa_importe | currencyFormat }}</td>
                </tr>
              </ng-container>
            </tbody>
          <tfoot>
            <tr>
              <td colspan="3"></td>
              <td colspan="1">
                <p class="font-bold text-base">TOTAL: </p>
              </td>
              <td colspan="1">
                <p class="text-base"> {{ simboloMoneda}} {{ vm.ventaSelected.venta_total | currencyFormat }}</p>
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td colspan="1">
                <p class="font-bold text-base">DESCUENTOS: </p>
              </td>
              <td colspan="1">
                <p class="text-base"> {{ simboloMoneda}} {{ vm.ventaSelected.venta_descuento | currencyFormat }}</p>
              </td>
            </tr>
          </tfoot>
          </table>
        </div>

        <!-- Footer con los botones -->
        <!-- <div class="flex justify-end mt-4">
          <button [disabled]="!vm.ventaSelected.venta_activo" class="text-white bg-red-500 rounded-full px-4 py-2"
            [ngClass]="{
              'cursor-not-allowed !bg-red-200': !vm.ventaSelected.venta_activo
            }"
            (click)="anularVenta()"

          >Anular comprobante</button>
        </div> -->

      </div>
    </ng-container>
  </section>
</ng-container>
