<div class="p2 w-full">
  <section class="absolute inset-0 flex flex-col min-w-0 overflow-hidden p-4" *ngIf="compraStore.vm() as vm" [appLoading]="vm.compraLoading || cargandoComprobantes">
    <form class="bg-white p-4" [formGroup]="form">
      <div class="flex justify-end mb-4">
        <div class="flex gap-2">
          <button
            class="ml-4"
            mat-flat-button
            [color]="'accent'"
            (click)="buscar()"
          >
            <mat-icon [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
            <span class="ml-2 mr-1">Buscar</span>
          </button>
          <a
            class="ml-4 flex gap-2 items-center"
            mat-flat-button
            routerLink="/compras/compras/nueva"
          >
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">Nueva compra</span>
          </a>
        </div>
      </div>

      <div class="w-full grid items-center grid-cols-5 gap-4">
       <div class="col-span-1">
          <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
            <mat-label>Comprobante</mat-label>
              <mat-select
              formControlName="comprobante"
              [spellcheck]="false"
            >
              <mat-option
                *ngFor="let comprobante of comprobantesList"
                [value]="comprobante.comprobante_id"
              >
                {{ comprobante.comprobante_descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
       </div>

       <div class="col-span-1">
        <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
          <mat-label>Serie</mat-label>
          <input matInput placeholder="1234" formControlName="serie" />
        </mat-form-field>
      </div>

       <div class="col-span-1">
        <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
          <mat-label>Correlativo</mat-label>
          <input matInput placeholder="12345678" formControlName="serie" />
        </mat-form-field>
      </div>


    </div>

    </form>

    <div class="w-full flex flex-col flex-auto overflow-hidden bg-white">
      <!-- <ng-container *ngIf="vm.ventasParaAmortizar.length"> -->
      <ng-container *ngIf="vm.compraData.length && !vm.compraLoading">
        <div class="flex flex-col flex-auto overflow-hidden">
          <div class="flex-grow overflow-x-auto mb-[73px]">
            <div class="py-2 px-4 inline-block min-w-full">
              <div class="overflow-hidden relative">
                <table class="w-full text-left text-gray-500 table-hover">
                  <thead class="text-gray-800 uppercase bg-gray-50 text-sm">
                    <tr>
                      <th class="px-6 py-3">Cod.</th>
                      <th class="px-6 py-3">Fec. Registro</th>
                      <th class="px-6 py-3">Fec. Compra</th>
                      <th class="px-6 py-3">Comprobante</th>
                      <th class="px-6 py-3">Serie</th>
                      <th class="px-6 py-3">Correlativo</th>
                      <th class="px-6 py-3">Proveedor</th>
                      <th class="px-6 py-3">Total</th>
                      <th class="px-6 py-3"></th>
                    </tr>
                  </thead>
                  <tbody class="text-sm">
                    <ng-container *ngFor="let compra of vm.compraData">
                      <tr class="border-b hover:bg-gray-50">
                        <td class="px-6 py-4 font-medium text-gray-900">
                          {{ compra.compra_id }}
                        </td>
                        <td class="px-6 py-4 font-medium">
                          {{ compra.compra_fechaFormateada }}
                        </td>
                        <td class="px-6 py-4 font-medium">
                          {{ compra.compra_fecharegistFormateada }}
                        </td>

                        <td class="px-6 py-4 font-medium text-gray-900">
                          <ng-container *ngIf="compra.comprobante_id === COMPROBANTES.BOLETA">
                            BOLETA
                          </ng-container>
                          <ng-container *ngIf="compra.comprobante_id === COMPROBANTES.FACTURA">
                            FACTURA
                          </ng-container>
                          <ng-container *ngIf="compra.comprobante_id === COMPROBANTES.NOTA_DE_VENTA">
                            NOTA DE VENTA
                          </ng-container>
                          
                        </td>
                        <td class="px-6 py-4 font-medium">
                          {{ compra.compra_serie }}
                        </td>
                        <td class="px-6 py-4 font-medium">
                          {{ compra.compra_correlativo }}
                        <td class="px-6 py-4 font-medium text-gray-900">
                          <ng-container *ngIf="compra.proveedor">
                            {{ compra.proveedor.proveedor_nombrecomercial }}
                          </ng-container>
                        </td>
                        <td class="px-6 py-4 font-medium text-gray-900">
                          {{ simboloMoneda}} {{ compra.compra_total | currencyFormat }}
                        </td>
                        
                        <td class="px-6 py-4">
                          <button class="bg-blue-600 text-white m-0 p-1  rounded-full flex items-center" (click)="abrirModalDetalleCompra(compra)">
                            <mat-icon fontIcon="visibility" class="text-white text-[18px] m-0 p-0"></mat-icon>
                          </button>
                        </td>
                     </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator
                  class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                  (page)="changePagination($event)"
                  [ngClass]="{ 'pointer-events-none': vm.compraLoading }"
                  [length]="vm.compraPagination?.totalRows"
                  [pageIndex]="vm.compraPagination?.currentPage - 1"
                  [pageSize]="vm.compraPagination?.perPage"
                  [pageSizeOptions]="[10, 25, 100]"
                  [showFirstLastButtons]="true"
                ></mat-paginator>
                
              
      </ng-container>
      <div
        *ngIf="!vm.compraData.length && !vm.compraLoading"
        class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
        >
          No se encontraron registros!
        </div>
      
    </div>

  </section>
</div>