<div class="flex flex-col w-full" *ngIf="proveedorStore.vm() as vm">
  <ng-container *ngIf="!editMode">
    <div
      class="relative w-full h-22 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700"
    >
      <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
        <div class="text-4xl font-bold truncate">
          {{ vm.proveedorSelected?.proveedor_nombre }}
        </div>
        <div class="flex items-center ml-auto mb-1">
          <button mat-stroked-button (click)="toggleEditMode(true)">
            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
            <span class="ml-2">Editar</span>
          </button>
        </div>
        <button mat-icon-button [matTooltip]="'Cerrar'" [routerLink]="['../']">
          <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
      </div>
    </div>
    <!-- Company -->
    <div
      class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0"
    >
      <div class="w-full max-w-3xl">
        <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
          <div
            class="flex sm:items-center"
            *ngIf="vm.proveedorSelected?.proveedor_nombre"
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Nombre:</span>
              {{ vm.proveedorSelected?.proveedor_nombre }}
            </div>
          </div>

          <div
            class="flex sm:items-center"
            *ngIf="
              vm.proveedorSelected?.tipodocumento &&
              vm.proveedorSelected?.tipodocumento.tipodocumento_descripcion
            "
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Tipo documento:</span>
              {{
                vm.proveedorSelected?.tipodocumento.tipodocumento_descripcion
              }}
            </div>
          </div>

          <div
            class="flex sm:items-center"
            *ngIf="
              vm.proveedorSelected?.proveedor_numero &&
              vm.proveedorSelected?.proveedor_numero
            "
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Numero:</span>
              {{ vm.proveedorSelected?.proveedor_numero }}
            </div>
          </div>

          <div
            class="flex sm:items-center"
            *ngIf="
              vm.proveedorSelected?.proveedor_diascredito &&
              vm.proveedorSelected?.proveedor_diascredito
            "
          >
            <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
            <div class="ml-6 leading-6">
              <span class="font-bold">Días de crédito:</span>
              {{ vm.proveedorSelected?.proveedor_diascredito }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="editMode">
    <div
      class="relative w-full h-22 px-8 sm:px-12 bftig-accent-100 dark:bg-accent-700"
    >
      <div
        class="flex items-center justify-between w-full max-w-3xl mx-auto pt-6"
      >
        <div class="text-4xl font-bold truncate">
          {{ vm.proveedorSelected?.proveedor_nombre }}
        </div>
        <button mat-icon-button [matTooltip]="'Cerrar'" [routerLink]="['../']">
          <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
      </div>
    </div>

    <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
      <div class="w-full max-w-3xl">
        <form [formGroup]="proveedorForm">
          <mat-tab-group>
            <mat-tab label="Datos del proveedor">
              <div>
                <div class="grid grid-cols-2 gap-4">
                  <div class="col-span-2">
                    <mat-form-field class="mat-no-subscript w-full">
                      <mat-label>Nombre</mat-label>
                      <input
                        matInput
                        formControlName="proveedor_nombre"
                        placeholder="Nombre"
                        [spellcheck]="false"
                      />
                    </mat-form-field>
                  </div>

                  <!-- Segundo tile ocupa 1 columna -->
                  <div class="col-span-1">
                    <mat-form-field class="mat-no-subscript w-full">
                      <mat-label>Tipo documento</mat-label>
                      <mat-select
                        placeholder="Tipo documento"
                        formControlName="tipodocumento_id"
                        [spellcheck]="false"
                      >
                        <mat-option
                          *ngFor="let tipodocumento of vm.tiposdocumentosData"
                          [value]="tipodocumento.tipodocumento_id"
                        >
                          {{ tipodocumento.tipodocumento_descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <!-- Tercer tile ocupa 1 columna -->
                  <div class="col-span-1">
                    <mat-form-field
                      class="mat-no-subscript w-full"
                      placeholder="Numero"
                    >
                      <mat-label>Número</mat-label>
                      <input
                        matInput
                        formControlName="proveedor_numero"
                        placeholder="Numero"
                        [spellcheck]="false"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-span-1">
                    <mat-form-field class="mat-no-subscript w-full">
                      <mat-label>Nombre comercial</mat-label>
                      <input
                        matInput
                        formControlName="proveedor_nombrecomercial"
                        placeholder="Nombre comercial"
                        [spellcheck]="false"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-span-1">
                    <mat-form-field class="mat-no-subscript w-full">
                      <mat-label>Días de crédito</mat-label>
                      <input
                        matInput
                        formControlName="proveedor_diascredito"
                        placeholder="Dias de crédito"
                        [spellcheck]="false"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-span-1">
                    <mat-form-field class="mat-no-subscript w-full">
                      <mat-label>Código interno</mat-label>
                      <input matInput formControlName="proveedor_codigointerno" placeholder="Correo" />
                    </mat-form-field>
                  </div>

                  <div class="col-span-1">
                    <mat-form-field class="mat-no-subscript w-full">
                      <mat-label>Télefono principal</mat-label>
                      <input matInput formControlName="cliente_telefonoprincipal" placeholder="Correo" />
                    </mat-form-field>
                  </div>

                  <div class="col-span-2">
                    <mat-form-field class="mat-no-subscript w-full">
                      <mat-label>Correo</mat-label>
                      <input matInput formControlName="proveedor_correo" placeholder="Correo" />
                    </mat-form-field>
                  </div>
                </div>

                <div *ngIf="vm.proveedorSelected?.proveedor_id > 0">
                  <div class="flex flex-col">
                    <span class="font-semibold mb-2">Estado</span>
                    <mat-slide-toggle
                      formControlName="proveedor_activo"
                      [color]="'primary'"
                    >
                      {{
                        proveedorForm.get("proveedor_activo").value
                          ? "Activa"
                          : "Inactiva"
                      }}
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Dirección">
                
                <div formArrayName="direcciones" class="mb-4">
                  <div *ngFor="let direccion of direcciones.controls; let i = index" [formGroupName]="i" class="mb-5">
                    <div *ngIf="i !== 0" class="flex justify-between items-center mb-4">
                        <b> Dirección secundaria #{{ i + 1}}</b>

                        <button (click)="removeDireccion(i)" mat-flat-button [color]="'warn'">
                            Eliminar dirección
                        </button>
                    </div>
                    <div class="grid grid-cols-4 gap-4">
                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Pais</mat-label>
                          <mat-select formControlName="pais_id" (selectionChange)="onPaisChange(i)">
                            <mat-option *ngFor="let pais of getPaisesData(i)" [value]="pais.pais_id">
                              {{ pais.pais_nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Departamento</mat-label>
                          <mat-select formControlName="departamento_id" (selectionChange)="onDepartamentoChange(i)">
                            <mat-option *ngFor="let departamento of getDepartamentosData(i);" [value]="departamento.departamento_id">
                              {{ departamento.departamento_descripcion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
              
                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Provincia</mat-label>
                          <mat-select formControlName="provincia_id" (selectionChange)="onProvinciaChange(i)">
                            <mat-option *ngFor="let provincia of getProvinciasData(i)" [value]="provincia.provincia_id">
                              {{ provincia.provincia_descripcion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
              
                      <div class="col-span-1">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Distrito</mat-label>
                          <mat-select formControlName="distrito_id">
                            <mat-option *ngFor="let distrito of getDistritosData(i)" [value]="distrito.distrito_id">
                              {{ distrito.distrito_descripcion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
              
                      <div class="col-span-4">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Dirección</mat-label>
                          <input matInput formControlName="direccion_nombre" placeholder="Nombre de la dirección" />
                        </mat-form-field>
                      </div>
              
                      <div class="col-span-2">
                        <mat-form-field class="mat-no-subscript w-full">
                          <mat-label>Teléfono</mat-label>
                          <input matInput formControlName="direccion_telefono" placeholder="Teléfono" />
                        </mat-form-field>
                      </div>
  
                    </div>
                  </div>
                </div>
              
                <button (click)="addDireccion()" class="ml-2 w-full" mat-flat-button [color]="'primary'">
                  Agregar otra dirección
                </button>
              </mat-tab>
              
              
          </mat-tab-group>

          <!-- <div class="mt-8">
                        <mat-form-field class="mat-no-subscript w-full">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="transportista_nombre" placeholder="Nombre" [spellcheck]="false">
                        </mat-form-field>
                        <mat-form-field class="mat-no-subscript w-full">
                            <mat-label>Tipo documento</mat-label>
                            <mat-select placeholder="Tipo documento" formControlName="tipodocumento_id" [spellcheck]="false">
                                <mat-option *ngFor="let tipodocumento of vm.tiposdocumentosData" [value]="tipodocumento.tipodocumento_id">
                                  {{ tipodocumento.tipodocumento_descripcion }}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mat-no-subscript w-full">
                            <mat-label>Número</mat-label>
                            <input matInput formControlName="transportista_numero" placeholder="Número" [spellcheck]="false">
                        </mat-form-field>

                        <mat-form-field class="mat-no-subscript w-full">
                            <mat-label>Dirección Fiscal</mat-label>
                            <input matInput formControlName="transportista_direccionfiscal" placeholder="Dirección fiscal" [spellcheck]="false">
                        </mat-form-field>
                    </div> -->

          <div
            class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
          >
            <div
              class="ml-auto"
              *ngIf="proveedorForm.get('proveedor_id').value <= 0"
            ></div>
            <button
              class="ml-auto"
              mat-button
              [matTooltip]="'Cancel'"
              (click)="toggleEditMode(false)"
              *ngIf="proveedorForm.get('proveedor_id').value > 0"
            >
              Cancelar
            </button>
            <!--<app-flash-message *ngIf="vm.createUpdateTipoDocumentoFlashMessage"
                                        [hasError]="vm.createUpdateTipoDocumentoError"
                                        [message]="vm.createUpdateTipoDocumentoFlashMessage"></app-flash-message>-->
            <button
              class="ml-2"
              mat-flat-button
              [color]="'primary'"
              [disabled]="proveedorForm.invalid || vm.createUpdateStateProveedorLoading"
              [matTooltip]="'Guardar'"
              (click)="createUpdateSelected()"
              [loadingButton]="vm.createUpdateStateProveedorLoading"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</div>
