<section class="w-full relative h-[600px]" [appLoading]="cargando">
  <ng-container *ngIf="!cargando">
    <div class="flex flex-col h-full">
      <div class="flex justify-end mb-2">
        <button (click)="onNoClick()">
          <mat-icon fontIcon="close"></mat-icon>
        </button>
      </div>
  
      <div class="flex-grow overflow-auto">
        <div class="mb-6">
          <h3 class="font-bold text-2xl">{{ presentacionproducto.presentacionproducto_nombre}}</h3>
        </div>


          
        <div class="flex flex-col flex-auto overflow-hidden">
          <div class="flex-grow overflow-x-auto mb-[73px]">
            <div class="inline-block min-w-full">
              <div class="overflow-hidden relative">
                <table class="w-full text-left text-gray-500 table-hover table-fixed">
                  <thead class="text-gray-800 uppercase bg-gray-50 text-sm">
                    <tr>
                      <th class="px-6 py-3 w-10">Cod.</th>
                      <th class="px-6 py-3 w-70">Item</th>
                      <th class="px-6 py-3 w-40">Comprobante</th>
                      <th class="px-6 py-3">Proveedor</th>
                      <th class="px-6 py-3 w-30">Precio</th>
                      <th class="px-6 py-3">Fec. de compra</th>
                    </tr>
                  </thead>
                  <tbody class="text-sm" *ngFor="let detalle of historialProducto"> 
                    <!-- <td class="px-6 py-4"> {{ detalleordencompra.detalleordencompra_cantidad }}</td> -->
                      <tr>
                      <td class="px-6 py-4">{{ detalle.compra_id }}</td>
                      <td class="px-6 py-4 text-black font-medium">{{ presentacionproducto.presentacionproducto_nombre }}</td>
                      <td class="px-6 py-4">
                        <p>
                          <span class="uppercase font-medium block" *ngIf="detalle.comprobante_id === COMPROBANTES.BOLETA">Boleta</span>
                          <span class="uppercase font-medium block" *ngIf="detalle.comprobante_id === COMPROBANTES.FACTURA">Factura</span>
                          <span class="uppercase font-medium block" *ngIf="detalle.comprobante_id === COMPROBANTES.NOTA_DE_VENTA">Nota de venta</span>
                          {{ detalle.compra_serie }}-{{ detalle.compra_correlativo }}
                        </p>

                      </td>
                      <td class="px-6 py-4">{{ detalle.proveedor.proveedor_nombrecomercial }}</td>
                      <td class="px-6 py-4">{{ simboloMoneda }} {{ detalle.detallecompra_precio | currencyFormat }}</td>
                      <td class="px-6 py-4">
                        <i>{{ detalle.compra_fechaFormateada }}</i>
                      </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
          
  
        
      </div>
  
    </div>
  </ng-container>
  

  
</section>  