<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <filter>
        <filter-name>JsonRequestFilter</filter-name>
        <filter-class>http.JsonRequestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>JsonRequestFilter</filter-name>
        <url-pattern>/*</url-pattern> <!-- Aplica el filtro a todas las solicitudes -->
    </filter-mapping>
    
    
    <servlet>
        <servlet-name>LoginCtrl</servlet-name>
        <servlet-class>modules.usuario.servlets.LoginCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCtrl</servlet-name>
        <url-pattern>/api/usuario/login</url-pattern>
    </servlet-mapping>
    
    <!-- Inicio CRUD Usuarios -->
    
    <servlet>
        <servlet-name>UsuarioGetAll</servlet-name>
        <servlet-class>modules.usuario.servlets.GetAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioGetAll</servlet-name>
        <url-pattern>/api/usuario/getAll</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UsuarioGetOne</servlet-name>
        <servlet-class>modules.usuario.servlets.GetOne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioGetOne</servlet-name>
        <url-pattern>/api/usuario/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UsuarioCreate</servlet-name>
        <servlet-class>modules.usuario.servlets.Create</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioCreate</servlet-name>
        <url-pattern>/api/usuario/create</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UsuarioUpdate</servlet-name>
        <servlet-class>modules.usuario.servlets.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioUpdate</servlet-name>
        <url-pattern>/api/usuario/update</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UsuarioDelete</servlet-name>
        <servlet-class>modules.usuario.servlets.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioDelete</servlet-name>
        <url-pattern>/api/usuario/delete/*</url-pattern>
    </servlet-mapping>
    
    <!-- Fin CRUD Usuarios -->
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
