<div class="p2 w-full">
  <section
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-scroll p-4"
    *ngIf="ordencompraStore.vm() as vm"
    [appLoading]="vm.createUpdateStateOrdencompraLoading || cargandoOrdencompra"
  >
    <form
      class="w-fullh-full"
      [formGroup]="form"
      (ngSubmit)="guardarOrdenCompra()"
    >
      <div class="bg-white p-8 mb-4">
        <div class="flex justify-end">
          <button class="ml-4" mat-flat-button [color]="'accent'" type="submit"
            *ngIf="!canjearOrdencompra"
          >
            <mat-icon fontIcon="save"></mat-icon>
            <span class="ml-2 mr-1">Guardar órden de compra</span>
          </button>
          <button class="ml-4" mat-flat-button [color]="'primary'" type="button"
          *ngIf="canjearOrdencompra"
          (click)="conjearOrdencompra()"
          >
          <mat-icon fontIcon="change_circle"></mat-icon>
            <span class="ml-2 mr-1">Canjear por compra</span>
          </button>
        </div>

        <div class="grid grid-cols-4 gap-4">
          <div class="col-span-1">
            <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
              <mat-label>Selecciona un proveedor</mat-label>
              <input
                matInput
                placeholder="Busca un proveedor"
                class="w-full"
                [matAutocomplete]="proveedorAuto"
                (input)="onInputProveedor($event)"
                [formControl]="controlProveedor"
              />
              <mat-autocomplete
                #proveedorAuto="matAutocomplete"
                (optionSelected)="selectProveedor($event.option.value)"
                [displayWith]="displayFnProveedor"
              >
                <mat-option
                  [value]="proveedor"
                  *ngFor="let proveedor of proveedoresList | async"
                >
                  {{ proveedor.proveedor_nombrecomercial }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
              <mat-label>Fecha de Vencimiento</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="ordencompra_fechavecimiento"
                disabled
                placeholder="DD/MM/YYYY"
                floatLabel="always"
              />
              <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
 
      <div class="bg-white p-8">
        <div class="mb-1">
          <div class="w-[60%]" *ngIf="!canjearOrdencompra">
            <mat-form-field class="mat-no-subscript w-full" floatLabel="always">
              <mat-label>Busa un item para agregar a la lista</mat-label>
              <input
                matInput
                placeholder="Busa un item para agregar a la lista"
                class="w-full"
                [matAutocomplete]="auto"
                (input)="onInputProducto($event)"
                [formControl]="controlProducto"
              />
              <!-- <mat-autocomplete  #auto="matAutocomplete"
                (optionSelected)="selectProducto($event.option.value)"  [displayWith]="displayFnProducto">
                <mat-option [value]="producto" *ngFor="let producto of productosList | async">
                  {{ producto.presentacionproducto_nombre }}
                </mat-option>
              </mat-autocomplete> -->
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selectProducto($event.option.value)"
              >
                <mat-option
                  [value]="producto"
                  *ngFor="let producto of productosList | async"
                >
                  {{ producto.item_descripcioncompleta }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div class="flex flex-col flex-auto overflow-hidden">
          <div class="flex-grow overflow-x-auto mb-[73px]">
            <div class="py-2 inline-block min-w-full">
              <div class="overflow-hidden relative">
                <table class="w-full text-left text-gray-500 table-hover table-fixed">
                  <thead class="text-gray-800 uppercase bg-gray-50 text-sm">
                    <tr>
                      <th class="px-6 py-3" width="60px" *ngIf="canjearOrdencompra"></th>
                      <th class="px-6 py-3" width="300px">Item</th>
                      <th class="px-6 py-3" width="120px">Cant.</th>
                      <th class="px-6 py-3" width="auto">Almacén</th>
                      <th class="px-6 py-3" width="auto">V. Unitario</th>
                      <th class="px-6 py-3" width="auto">Subtotal</th>
                      <th class="px-6 py-3" width="auto">Impuestos</th>
                      <th class="px-6 py-3" width="auto">V. Total</th>
                      <th class="px-6 py-3" width="auto"></th>
                    </tr>
                  </thead>
                  <tbody class="text-sm">
                    <ng-container
                      formArrayName="detalleordencompra"
                      *ngIf="detalleordencompraArray.controls.length > 0"
                    >
                      <tr
                        *ngFor="
                          let ordencompra of detalleordencompraArray.controls;
                          let i = index
                        "
                        [formGroupName]="i"
                      >
                        <td class="px-6 py-4" *ngIf="canjearOrdencompra">
                          <mat-checkbox formControlName="detalleordencompra_seleccionado"></mat-checkbox>
                        </td>

                        <td class="px-6 py-4">
                          {{
                            ordencompra.get("item_descripcioncompleta").value
                          }}
                        </td>

                        <td class="px-6 py-4" width="10%">
                          <ng-container *ngIf="!canjearOrdencompra">
                            <mat-form-field
                              class="mat-no-subscript w-full"
                              floatLabel="always"
                            >
                              <input
                                matInput
                                placeholder="0.00"
                                formControlName="item_cantidad"
                                OnlyPositiveInteger
                              />
                            </mat-form-field>
                          </ng-container>

                          <ng-container *ngIf="canjearOrdencompra">
                            {{ ordencompra.get("item_cantidad").value }}
                          </ng-container>
                          


                        </td>
                        <td class="px-6 py-4">
                          <ng-container *ngIf="almacenSeleccionado">
                            {{ almacenSeleccionado.almacen_descripcion }}
                          </ng-container>
                          
                        </td>
                        <td class="px-6 py-4">
                          <ng-container *ngIf="canjearOrdencompra">
                            {{ simboloMoneda }}
                            {{ ordencompra.get("item_precio").value | currencyFormat }}
                          </ng-container>

                          <ng-container *ngIf="!canjearOrdencompra">
                            <mat-form-field
                              class="mat-no-subscript w-full"
                              floatLabel="always"
                            >
                              <input
                                matInput
                                placeholder="0.00"
                                formControlName="item_precio"
                                OnlyPositiveDecimal
                              />
                            </mat-form-field>
                          </ng-container>

                          

                        </td>
                        <td class="px-6 py-4">
                          {{ simboloMoneda }}
                          {{
                            ordencompra.get("item_subtotal").value
                              | currencyFormat
                          }}
                        </td>
                        <td class="px-6 py-4">
                          {{ simboloMoneda }}
                          {{
                            ordencompra.get("item_impuestos").value
                              | currencyFormat
                          }}
                        </td>
                        <td class="px-6 py-4">
                          {{ simboloMoneda }}
                          {{
                            ordencompra.get("item_total").value | currencyFormat
                          }}
                        </td>
                        <td>
                          <ng-container *ngIf="!canjearOrdencompra">
                            <button 
                              mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                              *ngIf="ordencompra.get('detalleordencompra_pendientecanjear').value"
                              type="button"
                            >
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="eliminarDetalleOrdencompra(i)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                              </button>
                            </mat-menu>
                        </ng-container>
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container
                      *ngIf="detalleordencompraArray.controls.length === 0"
                    >
                      <tr>
                        <td class="px-6 py-4" colspan="7">
                          <div class="flex justify-center items-center">
                            <mat-icon fontIcon="info"></mat-icon>
                            <span class="ml-2">Aún no has agregado items</span>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
              <div class="w-full mt-4" *ngIf="detalleordencompraArray.controls.length !== 0">
                <div class="w-full grid grid-cols-6">
                  <div class="col-span-3">
                    <ng-container *ngIf="!canjearOrdencompra">
                      <mat-form-field class="w-full">
                        <mat-label>Observación</mat-label>
                        <textarea matInput style="height: 80 !important;"
                                  formControlName="ordencompra_observacion"
                                  ></textarea>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="canjearOrdencompra">
                        <h4 class="font-bold">Observación</h4>
                        <p class="">{{ form.get("ordencompra_observacion").value }}</p>
                    </ng-container>
                    

                  </div>

                </div>
              </div>

              <div class="flex justify-end">
                <p class="text-xl font-semibold">Total: <span class="font-normal">{{ simboloMoneda }} {{ totalOrdenCompra | currencyFormat }}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
